@import "../../../style/variables.scss";
.keyboard-btn {
  padding: 20px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
  &.value {
    background-color: $value-btn-bg;
    color: black;
  }
  &.operator {
    background-color: $operator-btn-bg;
    color: #fff;
    path {
      stroke: #fff;
    }
  }
  &.clear {
    background-color: $clear-btn-bg;
    color: #fff;
  }
}
