$primary-font: Roboto, sans-serif;
$body-bg: #183d3d;
$calculator-bg: #1e1e1e;
$result-text: #f8f8f8;
$result-bg: #2b2929;
$error-text: #ff3333;
$value-btn-bg: #a5a5a5;
$operator-btn-bg: #fe9e0b;
$clear-btn-bg: #f54040;
